*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #000000;
  color: #ffffff;
  /* padding: 50px; */
}

input{
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid{
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.card{
  align-content: center;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
}

.card p{
  padding: 5px;
  text-align: center;
} 

.card img{
  display: block;
  margin: auto;
  max-height: 250px;
  max-width: 300px;
}

ol{
  padding: 0%;
}

@media screen and (max-width:600px){
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
  }   
}
